<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <link rel="icon" href="https://www.vietcombank.com.vn/-/media/Default-Website/Default-Images/Icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/forgetpass.css">
</head>
<body>
    <h1>Tính năng này đang được xây dựng!!!</h1>
    <form method="POST">
        <button>Send email.</button>
    </form>
</body>
</html>