<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vietcombank | Ngân hàng TMCP Ngoại thương Việt Nam</title>
    <link rel="icon" href="https://www.vietcombank.com.vn/-/media/Default-Website/Default-Images/Icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="home-page">
    <!-- Header Section -->
    <div id="top-bar">
        <ul class="menu-left" aria-label="Menu Cá nhân và Tổ chức">
            <li><a href="#" aria-label="Cá nhân">Cá nhân</a></li>
            <li><a href="#" aria-label="Tổ chức">Tổ chức</a></li>
            <li><a href="#" aria-label="Khách hàng ưu tiên">Khách hàng ưu tiên</a></li>
        </ul>
        <ul class="menu-right" aria-label="Thông tin Vietcombank">
            <li><a href="#" aria-label="Về Vietcombank">Về Vietcombank</a></li>
            <li><a href="#" aria-label="Tin tức">Tin tức</a></li>
            <li><a href="#" aria-label="Nhà đầu tư">Nhà đầu tư</a></li>
            <li><a href="#" aria-label="Mạng lưới">Mạng lưới</a></li>
            <li><a href="#" aria-label="Tuyển dụng">Tuyển dụng</a></li>
        </ul>
        <div class="hotline" aria-label="Hotline và Ngôn ngữ">
            <ul>
                <li>
                    <img class="phone-icon" width="20" src="https://img.icons8.com/ios-filled/50/000000/phone.png" alt="phone icon">
                    <span aria-label="Hotline số điện thoại">1900 545413</span>
                </li>
                <img class="vietnam-logo" src="https://www.vietcombank.com.vn/-/media/Default-Website/Default-images/Icons/Language/VIE.png" alt="Vietnamese Language">
            </ul>
        </div>
    </div>

    <!-- Main Section -->
    <div id="main-section" aria-label="Khu vực chính">
        <div class="logo-container" aria-label="Logo Vietcombank">
            <img class="logo" src="https://www.vietcombank.com.vn/-/media/Project/VCB-Sites/VCB/Home-page/VCB-Logo/VCB-Logo-white.png" alt="Vietcombank Logo">
        </div>
        <form class="search-form" action="#" method="get" novalidate aria-label="Form tìm kiếm sản phẩm và tiện ích">
            <div class="dropdown-menus">
                <select name="products" aria-label="Sản phẩm & Dịch vụ">
                    <option value="">Sản phẩm & Dịch vụ</option>
                    <option value="account-services">Dịch vụ tài khoản</option>
                    <option value="digital-banking">Ngân hàng số</option>
                    <option value="cards">Thẻ</option>
                    <option value="loans">Vay</option>
                    <option value="savings">Tiết kiệm</option>
                    <option value="insurance">Bảo hiểm</option>
                    <option value="investment">Đầu tư</option>
                    <option value="money-transfer">Chuyển và nhận tiền</option>
                </select>
                <select name="utilities" aria-label="Công cụ & Tiện ích">
                    <option value="">Công cụ & Tiện ích</option>
                    <option value="exchange-rates">Tỷ giá ngoại tệ</option>
                    <option value="gold-prices">Giá vàng</option>
                    <option value="interest-rates">Lãi suất</option>
                    <option value="forms-and-fees">Biểu mẫu & Biểu phí</option>
                    <option value="loan-calculator">Tính lịch trả nợ</option>
                </select>
                <select name="support" aria-label="Liên hệ & Hỗ trợ">
                    <option value="">Liên hệ & Hỗ trợ</option>
                    <option value="appointment">Đặt lịch hẹn</option>
                    <option value="contact">Liên hệ</option>
                    <option value="faq">Câu hỏi thường gặp</option>
                    <option value="user-guide">Hướng dẫn sử dụng</option>
                </select>
            </div>
        </form>
    </div>

    <!-- Search Section -->
    <div id="search-section" aria-label="Thanh tìm kiếm">
        <form class="search" action="#" method="get" novalidate>
            <div class="search-bar">
                <input 
                    type="text" 
                    id="search-input" 
                    name="query" 
                    placeholder="Thẻ tín dụng, vay tiêu dùng,..." 
                    aria-label="Search"
                >
                <button type="submit" aria-label="Tìm kiếm">
                    <img 
                        class="search-icon" 
                        src="https://img.icons8.com/ios7/600/search.png" 
                        alt="Search icon"
                    >
                </button>
            </div>
        </form>
    </div>

    <!-- Button Login -->
    <div class="custom-login-container" aria-label="Login Register">
        <form class="custom-login-form" action="/login" method="get" novalidate>
            <button type="login" aria-label="Đăng nhập" class="custom-login-button">
                <img src="https://www.vietcombank.com.vn/-/media/Default-Website/Default-Images/Icons/box-arrow-in-right.svg?ts=20230908024047" alt="Login Icon" class="custom-login-icon">
                <span class="custom-login-text">Đăng nhập</span>
            </button>
        </form>
    </div>

    <!-- Footer Section -->
    <div id="footer" aria-label="Khu vực chân trang">
        <ul class="quick-links">
            <li>
                <img src="https://www.vietcombank.com.vn/-/media/Project/VCB-Sites/VCB/Home-page/KHCN/Quick-Access/Goiysanpham.svg" alt="Product Suggestions">
                <p aria-label="Gợi ý sản phẩm">Gợi ý sản phẩm</p>
            </li>
            <li>
                <img src="https://www.vietcombank.com.vn/-/media/Project/VCB-Sites/VCB/Home-page/KHCN/Quick-Access/Tinnoibat.svg" alt="Featured News">
                <p aria-label="Tin nổi bật">Tin nổi bật</p>
            </li>
            <li>
                <img src="https://www.vietcombank.com.vn/-/media/Project/VCB-Sites/VCB/Home-page/KHCN/Quick-Access/Datlichhen.svg" alt="Schedule Appointment">
                <p aria-label="Đặt lịch hẹn">Đặt lịch hẹn</p>
            </li>
            <li>
                <img src="https://www.vietcombank.com.vn/-/media/Project/VCB-Sites/VCB/Home-page/KHCN/Quick-Access/Dangkytructuyen.svg" alt="Online Registration">
                <p aria-label="Đăng ký trực tuyến">Đăng ký trực tuyến</p>
            </li>
            <li>
                <img src="https://www.vietcombank.com.vn/-/media/Project/VCB-Sites/VCB/Home-page/KHCN/Quick-Access/Uudai.svg" alt="Promotions">
                <p aria-label="Ưu đãi">Ưu đãi</p>
            </li>
        </ul>
    </div>

    <!-- ChatbotAI -->
    <div class="custom-bot-container">
        <form class="custom-bot-form" method="get" novalidate>
            <button 
                type="button" 
                aria-label="chatbot" 
                class="custom-bot-button" 
                onclick="openModal()">
                <img width="50" src="https://cdn.haitrieu.com/wp-content/uploads/2022/02/Icon-Vietcombank.png"
                     alt="bot Icon" 
                     class="custom-bot-icon">
                <span class="custom-bot-text">VCB bot</span>
            </button>
        </form>
    </div>
    
    <div id="modal" style="display:auto; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5);">
        <div style="position:relative; margin:10% auto; width:80%; background:white; padding:20px;">
            <iframe src="http://localhost:8501" width="100%" height="500" style="border:none;"></iframe>
            <button onclick="closeModal()" style="position:absolute; top:10px; right:10px;">Close</button>
        </div>
    </div>
    
    <script>
        function openModal() {
            document.getElementById('modal').style.display = 'block';
        }
        function closeModal() {
            document.getElementById('modal').style.display = 'none';
        }
    </script>
</body>
</html>

